:root {
	--interface-modal-bg: #1c1c21;
	--interface-bg: #131316;
	--scrollbar-color: #8585ad #2f2f37;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body {
	background-color: var(--interface-bg);
}

button {
	color: #ffffff;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}
