.header {
	background-color: var(--interface-modal-bg);
}

.nav {
	composes: pt-4 pb-4 from global;
	display: flex;
	align-items: center;
}

.linkItem {
	display: flex;
	cursor: pointer;
	composes: p-5 from global;
}

.list {
	display: flex;
	align-items: center;
}

.logo {
	margin-left: 100px;
	cursor: pointer;
}

.primary {
	composes: text text_type_main-default from global;
}

.secondary {
	composes: text text_type_main-default text_color_inactive from global;
}
